<!DOCTYPE html>
<html>
<head>
  <title>Example App</title>

        <!-- Custom CSS -->

        <!-- Custom Fonts -->
        <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= javascript_include_tag 'grayscale.js' %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%=yield%>
  </body>
</html>
